mixin product(obj)
    // PRODUCT CARD
    .product-card
        h3.product-card__title !{obj.title}
            if obj.accent
                span (!{obj.accent})
        .product-card__img
            img(src="./img/products/" + obj.img + ".webp" srcset="./img/products/" + obj.img + "@2x.webp 2x" width="318" height="181" alt="product" loading="lazy")
        ul.product-card__list
            each item in obj.list
                li.product-card__row
                    .product-card__col
                        if item.quantity
                            .product-card__quantity !{item.quantity}
                        if item.info
                            .product-card__info !{item.info}
                    if item.price
                        .product-card__price !{item.price}
        if obj.desc
            p.product-card__desc !{obj.desc}
        .product-card__btn
            button.btn-order Заказать